<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Integrando o HTML ao Flask</title>
</head>

<body>
  <h2 style="text-align: center;">Lsita de Frutas</h2>

  <ol>  <!-- Estrutura do Html através do flask, para poder passar um laço do tipo for -->
    {% for fruta in frutas %}
      <li>{{fruta}}</li>
    {% endfor %}
    <form action="">
      <label for="">Fruta</label>
      <input type="text" name="fruta" id="">
      <button>Adicionar</button>
      


    </form>
  </ol>


</body>
</html>